<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../../autoload.php" colors="true">
    <testsuites>
        <testsuite name="art321/th3log Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="logs/clover.xml"/>
    </logging>
</phpunit>
